fastapi
uvicorn
python-multipart
groq
pymupdf
pinecone-client
langchain-pinecone
langchain-huggingface
langchain-community
sentence-transformers
rank_bm25
upstash-redis
python-dotenv
flashrank
websockets

